USE [master]
GO
/****** Object:  Database [videolounge]    Script Date: 2014-03-12 10:28:19 PM ******/
CREATE DATABASE [videolounge] ON  PRIMARY 
( NAME = N'videolounge', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.MSSQLSERVER\MSSQL\DATA\videolounge.mdf' , SIZE = 5120KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'videolounge_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.MSSQLSERVER\MSSQL\DATA\videolounge_log.ldf' , SIZE = 2048KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [videolounge].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [videolounge]
GO
/****** Object:  StoredProcedure [dbo].[sp_Debt]    Script Date: 2014-03-12 10:28:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[sp_Debt]
	-- Add the parameters for the stored procedure here
	@Company_Name nvarchar(255),
	@Job_Active nvarchar(3)

AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	SELECT * From Opportunities
	WHERE Company_Name LIKE @Company_Name
	AND Opportunity_Stage = 'Debt'
	AND Job_Active = @Job_Active
END



GO
/****** Object:  StoredProcedure [dbo].[sp_DebtCompleted]    Script Date: 2014-03-12 10:28:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[sp_DebtCompleted]
	-- Add the parameters for the stored procedure here
	@Company_Name nvarchar(255),
	@Successful nvarchar(3)
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	SELECT * From Opportunities
	WHERE Company_Name LIKE @Company_Name
	AND Opportunity_Stage = 'Debt'
	AND Successful = @Successful
END



GO
/****** Object:  StoredProcedure [dbo].[sp_DebtPaidUnpaid]    Script Date: 2014-03-12 10:28:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[sp_DebtPaidUnpaid] 
	-- Add the parameters for the stored procedure here
	@Company_Name nvarchar(255),
	@Job_Active nvarchar(10),
	@Paid nvarchar(3)
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	SELECT * FROM Opportunities
	WHERE Company_Name = @Company_Name
	AND Opportunity_Stage = 'Debt'
	AND Job_Active = @Job_Active
	AND Paid = @Paid
END



GO
/****** Object:  StoredProcedure [dbo].[sp_InactiveLeads]    Script Date: 2014-03-12 10:28:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[sp_InactiveLeads]
	-- Add the parameters for the stored procedure here
	@Company_Name nvarchar(255),
	@Job_Active nvarchar(10)
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	SELECT * From Opportunities
	WHERE Company_Name LIKE @Company_Name
	AND Opportunity_Stage = 'Pipeline'
	AND Job_Active = @Job_Active
END



GO
/****** Object:  StoredProcedure [dbo].[sp_JobsInPipeline]    Script Date: 2014-03-12 10:28:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[sp_JobsInPipeline]
	-- Add the parameters for the stored procedure here
	@Company_Name nvarchar(255),
	@Job_Active nvarchar(10)
	
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	SELECT * From Opportunities
	WHERE Company_Name LIKE @Company_Name
	AND Opportunity_Stage = 'Pipeline'
	AND Job_Active LIKE @Job_Active
END



GO
/****** Object:  StoredProcedure [dbo].[sp_JobsInPipelineAll]    Script Date: 2014-03-12 10:28:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[sp_JobsInPipelineAll] 
	-- Add the parameters for the stored procedure here
	@Company_Name nvarchar(255)

AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	SELECT * From Opportunities
	WHERE Company_Name LIKE @Company_Name
	AND Opportunity_Stage = 'Pipeline'
END



GO
/****** Object:  StoredProcedure [dbo].[sp_Leads]    Script Date: 2014-03-12 10:28:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[sp_Leads]
	-- Add the parameters for the stored procedure here
	@Company_Name nvarchar(255)
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	SELECT * From Opportunities
	WHERE Company_Name LIKE @Company_Name
	AND Opportunity_Stage = 'Pipeline'
	AND Job_Active IS NULL
END



GO
/****** Object:  StoredProcedure [dbo].[sp_LiveJobs]    Script Date: 2014-03-12 10:28:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[sp_LiveJobs]
	-- Add the parameters for the stored procedure here
	@Job_Active nvarchar(3)
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	SELECT * From Opportunities
	WHERE Job_Active = @Job_Active
END



GO
/****** Object:  StoredProcedure [dbo].[sp_Quotes]    Script Date: 2014-03-12 10:28:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[sp_Quotes]
	-- Add the parameters for the stored procedure here
	@Company_Name nvarchar(255),
	@Job_Active nvarchar(3)
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	SELECT * From Opportunities
	WHERE Company_Name LIKE @Company_Name
	AND Opportunity_Stage = 'Quote'
	AND Job_Active = @Job_Active
END



GO
/****** Object:  StoredProcedure [dbo].[sp_sortByChannel]    Script Date: 2014-03-12 10:28:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[sp_sortByChannel]
	-- Add the parameters for the stored procedure here
	@Channel nvarchar(20)
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	SELECT * FROM Opportunities O, Contacts C
	WHERE O.Company_Name = C.Company_Name
	AND C.Channel = @Channel
END



GO
/****** Object:  StoredProcedure [dbo].[sp_sortByCompany]    Script Date: 2014-03-12 10:28:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[sp_sortByCompany]
	-- Add the parameters for the stored procedure here
	@Company_Name nvarchar(255)
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	SELECT * FROM Opportunities O, Contacts C
	WHERE O.Company_Name = C.Company_Name
	AND C.Company_Name = @Company_Name
END



GO
/****** Object:  StoredProcedure [dbo].[sp_sortByCountry]    Script Date: 2014-03-12 10:28:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[sp_sortByCountry] 
	-- Add the parameters for the stored procedure here
	@Country_Name nvarchar(255)
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	SELECT * FROM Opportunities O, Countries C
	WHERE O.Country_ID = C.Country_ID
	AND O.Country = @Country_Name

END



GO
/****** Object:  StoredProcedure [dbo].[sp_sortByIndustry]    Script Date: 2014-03-12 10:28:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[sp_sortByIndustry]
	-- Add the parameters for the stored procedure here
	@Industry nvarchar(255)
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	SELECT * FROM Opportunities O, Contacts C
	WHERE O.Company_Name = C.Company_Name
	AND O.Job_Industry = @Industry
END



GO
/****** Object:  StoredProcedure [dbo].[sp_sortByRegion]    Script Date: 2014-03-12 10:28:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[sp_sortByRegion]
	-- Add the parameters for the stored procedure here
	@Region_ID int
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	SELECT * FROM Opportunities O, Countries C, Regions R
	WHERE C.Country_Region = R.Region_Name
	AND O.Country_ID = C.Country_ID
	AND R.Region_ID = C.Region_ID
	AND R.Region_ID = @Region_ID
	ORDER BY O.Job_Active DESC
END



GO
/****** Object:  StoredProcedure [dbo].[sp_sortByService]    Script Date: 2014-03-12 10:28:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[sp_sortByService]
	-- Add the parameters for the stored procedure here
	@Service nvarchar(255)
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	SELECT * FROM Contacts C
	WHERE C.Work_Types LIKE '%' + @Service + '%'
END



GO
/****** Object:  StoredProcedure [dbo].[sp_ViewAppointments]    Script Date: 2014-03-12 10:28:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[sp_ViewAppointments]
	-- Add the parameters for the stored procedure here
	@Company_Name nvarchar(255)

AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	SELECT * FROM Appointments
	WHERE Company_Name LIKE @Company_Name
	ORDER BY Appointment_Date DESC
END



GO
/****** Object:  Table [dbo].[Agency_Clients]    Script Date: 2014-03-12 10:28:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Agency_Clients](
	[Agency_Clients_ID] [int] IDENTITY(1,1) NOT NULL,
	[Agency_Clients_Name] [nvarchar](255) NULL,
	[Additional_Info] [nvarchar](255) NULL,
 CONSTRAINT [PK_Agency_Clients] PRIMARY KEY CLUSTERED 
(
	[Agency_Clients_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Appointments]    Script Date: 2014-03-12 10:28:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Appointments](
	[Appointment_ID] [int] IDENTITY(1,1) NOT NULL,
	[Appointment_Date] [nvarchar](255) NULL,
	[Appointment_Time] [nvarchar](255) NULL,
	[Appointment_Description] [nvarchar](max) NULL,
	[Appointment_Country] [nvarchar](255) NULL,
	[Appointment_Location] [nvarchar](255) NULL,
	[Employee] [nvarchar](50) NULL,
	[Company_Name] [nvarchar](255) NULL,
 CONSTRAINT [PK_Appointments] PRIMARY KEY CLUSTERED 
(
	[Appointment_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Contact_Persons]    Script Date: 2014-03-12 10:28:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Contact_Persons](
	[Contact_Person_ID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](255) NULL,
	[Position] [nvarchar](255) NULL,
	[Cell] [nvarchar](255) NULL,
	[Email] [nvarchar](255) NULL,
	[Company] [nvarchar](255) NULL,
 CONSTRAINT [PK_Contact_Persons] PRIMARY KEY CLUSTERED 
(
	[Contact_Person_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Contacts]    Script Date: 2014-03-12 10:28:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Contacts](
	[Contact_ID] [int] IDENTITY(1,1) NOT NULL,
	[Marketer] [nvarchar](max) NULL,
	[How_Lead_Sourced] [nvarchar](max) NULL,
	[Company_Name] [nvarchar](max) NULL,
	[Additional_Info] [nvarchar](max) NULL,
	[Affiliated_To] [nvarchar](max) NULL,
	[Channel] [nvarchar](max) NULL,
	[Industry] [nvarchar](max) NULL,
	[Work_Types] [nvarchar](max) NULL,
	[Landline] [nvarchar](max) NULL,
	[Website] [nvarchar](max) NULL,
	[Physical_Address] [nvarchar](max) NULL,
	[Postal_Address] [nvarchar](max) NULL,
	[Ad_Agency] [nvarchar](max) NULL,
	[Producers_Local] [nvarchar](max) NULL,
	[Producers_International] [nvarchar](max) NULL,
	[Directors_Local] [nvarchar](max) NULL,
	[Directors_International] [nvarchar](max) NULL,
	[Produce_In_SA] [nvarchar](max) NULL,
	[Agencies_Clients] [nvarchar](max) NULL,
	[Produce_In_Countries] [nvarchar](max) NULL,
	[Meeting_Comments] [nvarchar](max) NULL,
 CONSTRAINT [PK_Entities] PRIMARY KEY CLUSTERED 
(
	[Contact_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Countries]    Script Date: 2014-03-12 10:28:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Countries](
	[Country_ID] [int] IDENTITY(1,1) NOT NULL,
	[Country_Name] [nvarchar](50) NULL,
	[Country_Region] [nvarchar](50) NULL,
	[Region_ID] [int] NULL,
 CONSTRAINT [PK_Countries] PRIMARY KEY CLUSTERED 
(
	[Country_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Debt_Collection]    Script Date: 2014-03-12 10:28:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Debt_Collection](
	[Debt_Collection_ID] [int] NOT NULL,
	[Employee] [nvarchar](50) NULL,
	[Company_Name] [nvarchar](255) NULL,
	[Client] [nvarchar](50) NULL,
	[Campaign] [nvarchar](max) NULL,
	[Status] [nvarchar](max) NULL,
	[Rand_Amount] [bigint] NULL,
	[Naira_Amount] [bigint] NULL,
	[Comments] [nvarchar](max) NULL,
 CONSTRAINT [PK_Debt_Collection] PRIMARY KEY CLUSTERED 
(
	[Debt_Collection_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Employees]    Script Date: 2014-03-12 10:28:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Employees](
	[Employee_ID] [int] IDENTITY(1,1) NOT NULL,
	[Username] [nvarchar](50) NULL,
	[Password] [nvarchar](max) NULL,
	[Status] [nvarchar](10) NULL,
 CONSTRAINT [PK_Employees] PRIMARY KEY CLUSTERED 
(
	[Employee_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Job_Industry]    Script Date: 2014-03-12 10:28:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Job_Industry](
	[Job_Industry_ID] [int] IDENTITY(1,1) NOT NULL,
	[Job_Industry_Description] [nvarchar](50) NULL,
	[Additional_Info] [nvarchar](255) NULL,
 CONSTRAINT [PK_Job_For] PRIMARY KEY CLUSTERED 
(
	[Job_Industry_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Locations]    Script Date: 2014-03-12 10:28:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Locations](
	[Location_ID] [int] IDENTITY(1,1) NOT NULL,
	[Location_Name] [nvarchar](50) NULL,
	[Location_Colour] [nvarchar](50) NULL,
 CONSTRAINT [PK_Locations] PRIMARY KEY CLUSTERED 
(
	[Location_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Opportunities]    Script Date: 2014-03-12 10:28:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Opportunities](
	[Opportunities_ID] [int] IDENTITY(1,1) NOT NULL,
	[Employee] [nvarchar](255) NULL,
	[Country] [nvarchar](255) NULL,
	[Country_ID] [int] NULL,
	[Job_Industry] [nvarchar](255) NULL,
	[Agency] [nvarchar](255) NULL,
	[Company_Name] [nvarchar](255) NULL,
	[Opportunity_Name] [nvarchar](255) NULL,
	[Opportunity_Value] [float] NULL,
	[Opportunity_Date] [nvarchar](255) NULL,
	[Description] [nvarchar](max) NULL,
	[Date_Last_Contact] [nvarchar](255) NULL,
	[Outcome_Last_Contact] [nvarchar](max) NULL,
	[Next_Action_Required] [nvarchar](max) NULL,
	[Date_Next_Contact] [nvarchar](255) NULL,
	[Debbie_Comments] [nvarchar](max) NULL,
	[Opportunity_Stage] [nvarchar](50) NULL,
	[Last_Updated_By] [nvarchar](255) NULL,
	[Quote_Likelihood] [nvarchar](50) NULL,
	[Quote_Campaign] [nvarchar](max) NULL,
	[Quote_Status] [nvarchar](max) NULL,
	[Quote_Budget] [bigint] NULL,
	[Quote_Date_Next_Contact] [nvarchar](255) NULL,
	[Quote_Comments] [nvarchar](max) NULL,
	[Rand_Amount] [bigint] NULL,
	[Naira_Amount] [bigint] NULL,
	[Paid] [nvarchar](3) NULL,
	[Job_Active] [nvarchar](3) NULL,
	[Successful] [nvarchar](3) NULL,
 CONSTRAINT [PK_Opportunities] PRIMARY KEY CLUSTERED 
(
	[Opportunities_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Regions]    Script Date: 2014-03-12 10:28:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Regions](
	[Region_ID] [int] IDENTITY(1,1) NOT NULL,
	[Region_Name] [nvarchar](50) NULL,
 CONSTRAINT [PK_Regions] PRIMARY KEY CLUSTERED 
(
	[Region_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Work_Types]    Script Date: 2014-03-12 10:28:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Work_Types](
	[Work_Type_ID] [int] IDENTITY(1,1) NOT NULL,
	[Work_Type_Description] [nvarchar](50) NULL,
 CONSTRAINT [PK_Work_Types] PRIMARY KEY CLUSTERED 
(
	[Work_Type_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET IDENTITY_INSERT [dbo].[Agency_Clients] ON 

INSERT [dbo].[Agency_Clients] ([Agency_Clients_ID], [Agency_Clients_Name], [Additional_Info]) VALUES (1, N'Government', NULL)
INSERT [dbo].[Agency_Clients] ([Agency_Clients_ID], [Agency_Clients_Name], [Additional_Info]) VALUES (2, N'Oaklands', NULL)
INSERT [dbo].[Agency_Clients] ([Agency_Clients_ID], [Agency_Clients_Name], [Additional_Info]) VALUES (3, N'Brand Footprint', NULL)
GO
SET IDENTITY_INSERT [dbo].[Agency_Clients] OFF
SET IDENTITY_INSERT [dbo].[Appointments] ON 

INSERT [dbo].[Appointments] ([Appointment_ID], [Appointment_Date], [Appointment_Time], [Appointment_Description], [Appointment_Country], [Appointment_Location], [Employee], [Company_Name]) VALUES (1, N'2014/02/14', N'12:00', N'Valentine''s appointment', N'Nigeria', N'Alausa', N'nizaam', N'Access Bank')
INSERT [dbo].[Appointments] ([Appointment_ID], [Appointment_Date], [Appointment_Time], [Appointment_Description], [Appointment_Country], [Appointment_Location], [Employee], [Company_Name]) VALUES (2, N'2014/02/21', N'12:00', N'test appointment', N'Ghana', N'Alausa', N'nizaam', N'123test')
INSERT [dbo].[Appointments] ([Appointment_ID], [Appointment_Date], [Appointment_Time], [Appointment_Description], [Appointment_Country], [Appointment_Location], [Employee], [Company_Name]) VALUES (3, N'2014/02/28', N'12:00', N'bla bla bla', N'Ghana', N'Alausa', N'nizaam', N'111test')
SET IDENTITY_INSERT [dbo].[Appointments] OFF
SET IDENTITY_INSERT [dbo].[Contact_Persons] ON 

INSERT [dbo].[Contact_Persons] ([Contact_Person_ID], [Name], [Position], [Cell], [Email], [Company]) VALUES (17, N'John Doe', N'Handyman', N'0821234567', N'john.doe@gmail.com', N'Access Bank')
INSERT [dbo].[Contact_Persons] ([Contact_Person_ID], [Name], [Position], [Cell], [Email], [Company]) VALUES (18, N'John Doe', N'Handyman', N'0821234567', N'john.doe@gmail.com', N'Alpha Star Paints')
INSERT [dbo].[Contact_Persons] ([Contact_Person_ID], [Name], [Position], [Cell], [Email], [Company]) VALUES (19, N'John Doe', N'Handyman', N'0821234567', N'john.doe@gmail.com', N'Brand Heroes Limited')
GO
SET IDENTITY_INSERT [dbo].[Contact_Persons] OFF
SET IDENTITY_INSERT [dbo].[Contacts] ON 

INSERT [dbo].[Contacts] ([Contact_ID], [Marketer], [How_Lead_Sourced], [Company_Name], [Additional_Info], [Affiliated_To], [Channel], [Industry], [Work_Types], [Landline], [Website], [Physical_Address], [Postal_Address], [Ad_Agency], [Producers_Local], [Producers_International], [Directors_Local], [Directors_International], [Produce_In_SA], [Agencies_Clients], [Produce_In_Countries], [Meeting_Comments]) VALUES (1, NULL, NULL, N'Alpha Star Paints', NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL)
INSERT [dbo].[Contacts] ([Contact_ID], [Marketer], [How_Lead_Sourced], [Company_Name], [Additional_Info], [Affiliated_To], [Channel], [Industry], [Work_Types], [Landline], [Website], [Physical_Address], [Postal_Address], [Ad_Agency], [Producers_Local], [Producers_International], [Directors_Local], [Directors_International], [Produce_In_SA], [Agencies_Clients], [Produce_In_Countries], [Meeting_Comments]) VALUES (2, NULL, NULL, N'Brand Heroes Limited', NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL)
INSERT [dbo].[Contacts] ([Contact_ID], [Marketer], [How_Lead_Sourced], [Company_Name], [Additional_Info], [Affiliated_To], [Channel], [Industry], [Work_Types], [Landline], [Website], [Physical_Address], [Postal_Address], [Ad_Agency], [Producers_Local], [Producers_International], [Directors_Local], [Directors_International], [Produce_In_SA], [Agencies_Clients], [Produce_In_Countries], [Meeting_Comments]) VALUES (3, NULL, NULL, N'Cascade Water', NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL)
GO
SET IDENTITY_INSERT [dbo].[Contacts] OFF
SET IDENTITY_INSERT [dbo].[Countries] ON 

INSERT [dbo].[Countries] ([Country_ID], [Country_Name], [Country_Region], [Region_ID]) VALUES (1, N'Ghana', N'Africa', 1)
INSERT [dbo].[Countries] ([Country_ID], [Country_Name], [Country_Region], [Region_ID]) VALUES (2, N'Kenya', N'Africa', 1)
INSERT [dbo].[Countries] ([Country_ID], [Country_Name], [Country_Region], [Region_ID]) VALUES (3, N'Nigeria', N'Africa', 1)
SET IDENTITY_INSERT [dbo].[Countries] OFF
SET IDENTITY_INSERT [dbo].[Employees] ON 

INSERT [dbo].[Employees] ([Employee_ID], [Username], [Password], [Status]) VALUES (1, N'debbie', N'cRjov+R/YI5pBY7uhC8tlOT1+E9sJz5bkz9WUHqElTo3xv6kW4ZUEn3OQUi18o5zBAscLcxbLVjzoIluiIpbGCHax9ca', N'active')
INSERT [dbo].[Employees] ([Employee_ID], [Username], [Password], [Status]) VALUES (2, N'graeme', N'PnAqkl7iPczAeXPFwp4hcxD8dQV1oe99mfkkPug5dMjkzcLo+JAiWYNjtgxz459/vJw4iuHvvJzsuvgHfUMUaI2j8cbc', N'active')
INSERT [dbo].[Employees] ([Employee_ID], [Username], [Password], [Status]) VALUES (3, N'quintin', N'/7WJLyJBVhsXiCXMQVM3SJPEAqer9MU8tja6WB1VI1NIBuV2N2ommS+dOpjEgXeqhZDvtkpTk5UWQpOe0iwuGSApQQui', N'active')
SET IDENTITY_INSERT [dbo].[Employees] OFF
SET IDENTITY_INSERT [dbo].[Job_Industry] ON 

INSERT [dbo].[Job_Industry] ([Job_Industry_ID], [Job_Industry_Description], [Additional_Info]) VALUES (3, N'Oil and Gas', NULL)
INSERT [dbo].[Job_Industry] ([Job_Industry_ID], [Job_Industry_Description], [Additional_Info]) VALUES (4, N'Telecommunication', NULL)
INSERT [dbo].[Job_Industry] ([Job_Industry_ID], [Job_Industry_Description], [Additional_Info]) VALUES (5, N'Food', NULL)
SET IDENTITY_INSERT [dbo].[Job_Industry] OFF
SET IDENTITY_INSERT [dbo].[Locations] ON 

INSERT [dbo].[Locations] ([Location_ID], [Location_Name], [Location_Colour]) VALUES (1, N'Ikoyi', N'EE7CB3')
INSERT [dbo].[Locations] ([Location_ID], [Location_Name], [Location_Colour]) VALUES (2, N'Victoria Island', N'EE7CB3')
INSERT [dbo].[Locations] ([Location_ID], [Location_Name], [Location_Colour]) VALUES (3, N'Lekki', N'EE7CB3')
SET IDENTITY_INSERT [dbo].[Locations] OFF
SET IDENTITY_INSERT [dbo].[Opportunities] ON 

SET IDENTITY_INSERT [dbo].[Opportunities] OFF
SET IDENTITY_INSERT [dbo].[Regions] ON 

INSERT [dbo].[Regions] ([Region_ID], [Region_Name]) VALUES (1, N'Africa')
INSERT [dbo].[Regions] ([Region_ID], [Region_Name]) VALUES (2, N'Asia')
INSERT [dbo].[Regions] ([Region_ID], [Region_Name]) VALUES (3, N'Europe')
SET IDENTITY_INSERT [dbo].[Regions] OFF
SET IDENTITY_INSERT [dbo].[Work_Types] ON 

INSERT [dbo].[Work_Types] ([Work_Type_ID], [Work_Type_Description]) VALUES (1, N'TV Commercials')
INSERT [dbo].[Work_Types] ([Work_Type_ID], [Work_Type_Description]) VALUES (2, N'TV Series')
INSERT [dbo].[Work_Types] ([Work_Type_ID], [Work_Type_Description]) VALUES (3, N'Corporates and Training')
SET IDENTITY_INSERT [dbo].[Work_Types] OFF
ALTER TABLE [dbo].[Countries]  WITH CHECK ADD  CONSTRAINT [FK_Countries_Regions] FOREIGN KEY([Region_ID])
REFERENCES [dbo].[Regions] ([Region_ID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Countries] CHECK CONSTRAINT [FK_Countries_Regions]
GO
ALTER TABLE [dbo].[Opportunities]  WITH CHECK ADD  CONSTRAINT [FK_Opportunities_Countries] FOREIGN KEY([Country_ID])
REFERENCES [dbo].[Countries] ([Country_ID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Opportunities] CHECK CONSTRAINT [FK_Opportunities_Countries]
GO
USE [master]
GO
